//媒体查询 判断2像素比 3像素比设备
@media only screen and (-webkit-device-pixel-ratio: 2)
  .border-1px
    transform scaleY(.5)
@media only screen and (-webkit-device-pixel-ratio: 3)
  .border-1px
    transform scaleY(.33333)

